<p-toast></p-toast>

<div style="text-align: center;" *ngIf="spinnerProduccion || spinnerProduccionOrigen || spinnerEstablecimiento || spinnerLotes || spinnerLoteActividad || spinnerDestinos">
    <p-progressSpinner></p-progressSpinner>
</div>
<br>

<div class="row">
    <div class="col">
        <select style="margin: 5px;" class="form-select" aria-label="Default select example" [(ngModel)]="periodo">
            <option value=3>Campaña 20/21</option>
            <option value=4>Campaña 21/22</option>
            <option value=5>Campaña 22/23</option>
          </select>
    </div>
    <div class="col">
        <select style="margin: 5px;" class="form-select" aria-label="Default select example" [(ngModel)]="cultivo">
            <option value=1>Soja</option>
            <option value=2>Maiz</option>
            <option value=3>Trigo</option>
            <option value=4>Girasol</option>
            <option value=19>Sorgo</option>
            <option value=10>Algodon</option>
            <option value=11>Soja 2da</option>
            <option value=24>Maiz 2da</option>
          </select>
    </div>
    <div class="col">
        <p-multiSelect [options]="sociosFiltro" [(ngModel)]="sociosSeleccionados" defaultLabel="Seleccionar Socios" optionLabel="alias" selectedItemsLabel="{0} socios seleccionados"></p-multiSelect>
    </div>
    <div class="col">
        <button [disabled]="spinnerProduccion || spinnerProduccionOrigen || spinnerEstablecimiento || spinnerLotes || spinnerLoteActividad || spinnerDestinos" pButton type="button" style="margin: 5px;" label="CALCULAR" (click)="comenzarTratamiento()" [disabled]="spinnerProduccion || spinnerProduccionOrigen || spinnerEstablecimiento || spinnerLotes || spinnerLoteActividad || spinnerDestinos"></button>
    </div>
</div>


<br><br>
<div *ngIf="mostrarDatos">

    <p-table [columns]="selectedColumns" [value]="dataParaMostrarTabla" selectionMode="single" [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true" [rows]="50" [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [rowsPerPageOptions]="[10,25,50,100,1000]">
        <ng-template pTemplate="caption">
            <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                selectedItemsLabel="{0} columnas seleccionadas" [style]="{'min-width': '300px'}" placeholder="Choose Columns"></p-multiSelect>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" pSortableColumn="{{col.field}}">
                    {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-registro let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{transformarDatoMostrar(registro[col.field], col.field)}}
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>