<h2>Opciones:</h2>
<button class="botInicio" pButton type="button" label="Importar .XLSX (modificacion)" routerLink="/cargar"></button>
<button class="botInicio" pButton type="button" label="Modificar Registros" routerLink="/verCambios"></button>
<button class="botInicio" pButton type="button" label="Importar .XLSX (creacion)" routerLink="/cargarCrear"></button>
<button class="botInicio" pButton type="button" label="Crear Registros" routerLink="/crearRegistros"></button>
<br><br><br>
<h2>Synagro:</h2>
<button class="botInicio" pButton type="button" label="Destinos" routerLink="/listDestinos"></button>
<button class="botInicio" pButton type="button" label="Lotes" routerLink="/listLotes"></button>
<button class="botInicio" pButton type="button" label="Proveedores" routerLink="/listProveedores"></button>
<button class="botInicio" pButton type="button" label="Produccion" routerLink="/listProduccion"></button>

<br><br><br>
<h2>Modificacion:</h2>

<p>AREA</p>
<p>diferencia</p>
<p>factor</p>
<p>humedad1</p>
<p>humedad2</p>
<p>kg_destino</p>
<p>kg_neto_dest</p>
<p>kg_neto_orig</p>
<p>kg_origen</p>
<p>nro_cp</p>
<p>nro_ctg</p>
<p>remito</p>
<p>observar</p>
