<br>
<h2 style="text-align: center;">Fleteros</h2>
<br>

<div style="text-align: center;" *ngIf="spinner">
    <p-progressSpinner></p-progressSpinner>
</div>

<p-table [value]="proveedores" selectionMode="single" [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [rowsPerPageOptions]="[10,25,50,100,1000]">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="nombre">CODIGO <p-sortIcon field="nombre"></p-sortIcon></th>
            <th pSortableColumn="cod_proveedor">NOMBRE <p-sortIcon field="cod_proveedor"></p-sortIcon></th>
            <th pSortableColumn="fletero_campo">FLETERO <p-sortIcon field="fletero_campo"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-proveedor>
        <tr>
            <td>{{proveedor.nombre}}</td>
            <td>{{proveedor.cod_proveedor}}</td>
            <td>{{proveedor.fletero_campo}}</td>
        </tr>
    </ng-template>
</p-table>
