<p-menubar [model]="items">
    <!--input type="text" pInputText placeholder="Search">
    <button pButton label="Logout" icon="pi pi-power-off"></button-->
    <ng-template pTemplate="end">
        <img src="assets/showcase/images/logo.png" height="40" class="mr-2" routerLink="/inicio">
    </ng-template>
</p-menubar>


<p-dialog id="diaa" header="Header" [(visible)]="displayBasic" [style]="{width: '50vw'}">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayBasic=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<div class="contenedor">
    <router-outlet></router-outlet>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>