<div style="text-align: center;" *ngIf="spinnerProduccion || spinnerDestinos || spinnerLotes || spinnerProduccionOrigen || spinnerTransportistas || spinnerLoteActividad">
    <p-progressSpinner></p-progressSpinner>
</div>
<br>
<h2 style="text-align: center;">Produccion</h2>
<br>
<button pButton type="button" style="margin: 5px;" icon="pi pi-search" label="Traer datos" (click)="obtenerTodosProduccion()"></button>
<button pButton type="button" style="margin: 5px;" icon="pi pi-search" label="VER" (click)="ver()"></button>
<br><br>
<div class="card" style="padding: 20px;">
    
    <div class="formgrid grid">
        <div class="field col">
            <div class="field">
                <label for="range">Desde/Hasta</label>
                <p-calendar [(ngModel)]="dateRange" [showIcon]="true" selectionMode="range" [readonlyInput]="false" inputId="range"></p-calendar>
            </div>
            <div class="field">
                <p-chips [(ngModel)]="remitos" placeholder="Remitos"></p-chips>
            </div>
            <div class="field">
                <p-chips [(ngModel)]="nro_cp" placeholder="Cartas de Porte"></p-chips>
            </div>
            <div class="field">
                <p-chips [(ngModel)]="nro_ctg" placeholder="CTG"></p-chips>
            </div>
        </div>
        <div class="field col">
            <h5 (dblclick)="todosPeriodo()">CAMPAÑA</h5>
            <div class="field-checkbox">
                <p-checkbox name="periodo" value="2" [(ngModel)]="selectedPeriodo" inputId="camp2"></p-checkbox>
                <label for="camp2">19-20</label>
            </div>
            <div class="field-checkbox">
                <p-checkbox name="periodo" value="3" [(ngModel)]="selectedPeriodo" inputId="camp3"></p-checkbox>
                <label for="camp3">20-21</label>
            </div>
            <div class="field-checkbox">
                <p-checkbox name="periodo" value="4" [(ngModel)]="selectedPeriodo" inputId="camp4"></p-checkbox>
                <label for="camp4">21-22</label>
            </div>
            <div class="field-checkbox">
                <p-checkbox name="periodo" value="5" [(ngModel)]="selectedPeriodo" inputId="camp5"></p-checkbox>
                <label for="camp5">22-23</label>
            </div>
        </div>
        <div class="field col">
            <h5 (dblclick)="todosCultivo()">Cultivo</h5>
            <div class="field-checkbox">
                <p-checkbox name="AREA" value="1" [(ngModel)]="selectedAREA" inputId="cultS"></p-checkbox>
                <label for="cultS">SOJA</label>
            </div>
            <div class="field-checkbox">
                <p-checkbox name="AREA" value="2" [(ngModel)]="selectedAREA" inputId="cultM"></p-checkbox>
                <label for="cultM">MAIZ</label>
            </div>
            <div class="field-checkbox">
                <p-checkbox name="AREA" value="3" [(ngModel)]="selectedAREA" inputId="cultT"></p-checkbox>
                <label for="cultT">TRIGO</label>
            </div>
            <div class="field-checkbox">
                <p-checkbox name="AREA" value="4" [(ngModel)]="selectedAREA" inputId="cultG"></p-checkbox>
                <label for="cultG">GIRASOL</label>
            </div>
            <div class="field-checkbox">
                <p-checkbox name="AREA" value="10" [(ngModel)]="selectedAREA" inputId="cultA"></p-checkbox>
                <label for="cultA">ALGODON</label>
            </div>
        </div>
        <div class="field col">
            <h5 (dblclick)="todosOrigen()">Origen</h5>
            <div class="field-checkbox">
                <p-radioButton name="tipo_origen" value="L" [(ngModel)]="tipo_origen" inputId="origL"></p-radioButton>
                <label for="origL">Lote</label>
                &nbsp;&nbsp;&nbsp;
                <p-radioButton name="tipo_origen" value="S" [(ngModel)]="tipo_origen" inputId="origS"></p-radioButton>
                <label for="origS">Silo</label>
            </div>
            <div *ngIf="tipo_origen">
                <p-autoComplete [(ngModel)]="origen" [showEmptyMessage]="true" [suggestions]="origenes" (completeMethod)="filterOrigen($event)" field="nombre" [minLength]="1"></p-autoComplete>
            </div>
        </div>
        <div class="field col">
            <h5 (dblclick)="todosDestino()">Destino</h5>
            <div class="field-checkbox">
                <p-radioButton name="tipo_destino" value="1" [(ngModel)]="tipo_destino" inputId="dest1"></p-radioButton>
                <label for="dest1">Cliente</label>
                &nbsp;&nbsp;&nbsp;
                <p-radioButton name="tipo_destino" value="2" [(ngModel)]="tipo_destino" inputId="dest2"></p-radioButton>
                <label for="dest2">Silo</label>
                &nbsp;&nbsp;&nbsp;
                <p-radioButton name="tipo_destino" value="3" [(ngModel)]="tipo_destino" inputId="dest3"></p-radioButton>
                <label for="dest3">Acopio</label>
            </div>
            <div *ngIf="tipo_destino">
                <p-autoComplete [(ngModel)]="destino" [showEmptyMessage]="true" [suggestions]="destinosSuggestions" (completeMethod)="filterDestino($event)" field="nombre" [minLength]="1"></p-autoComplete>
            </div>
            <br><br>
            <h5 (dblclick)="todosDescarga()">Descarga </h5>
            <div class="field-checkbox">
                <p-radioButton name="tipo_descarga" value="1" [(ngModel)]="tipo_descarga" inputId="desc1"></p-radioButton>
                <label for="desc1">Cliente</label>
                &nbsp;&nbsp;&nbsp;
                <p-radioButton name="tipo_descarga" value="2" [(ngModel)]="tipo_descarga" inputId="desc2"></p-radioButton>
                <label for="desc2">Silo</label>
                &nbsp;&nbsp;&nbsp;
                <p-radioButton name="tipo_descarga" value="3" [(ngModel)]="tipo_descarga" inputId="desc3"></p-radioButton>
                <label for="desc3">Acopio</label>
            </div>
            <div *ngIf="tipo_descarga">
                <p-autoComplete [(ngModel)]="descarga" [showEmptyMessage]="true" [suggestions]="descargasSuggestions" (completeMethod)="filterDescarga($event)" field="nombre" [minLength]="1"></p-autoComplete>
            </div>
        </div>
    </div>
</div>




<br>
<button pButton type="button" style="margin: 5px;" icon="pi pi-filter" label="Filtrar" (click)="filtrar()"></button>
<br><br>

<p-table [columns]="selectedColumns" [value]="produccion" selectionMode="single" [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [rowsPerPageOptions]="[10,25,50,100,1000]">
    <ng-template pTemplate="caption">
        <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
            selectedItemsLabel="{0} columnas seleccionadas" [style]="{'min-width': '300px'}" placeholder="Choose Columns"></p-multiSelect>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th pSortableColumn="numero">Num <p-sortIcon field="numero"></p-sortIcon></th>
            <th *ngFor="let col of columns" pSortableColumn="{{col.field}}">
                {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
            </th>
            <th>Acc.</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-registro let-columns="columns">
        <tr>
            <td>{{registro.numero}}</td>
            <td *ngFor="let col of columns">
                {{mostrarTransformarDato(registro[col.field], col.field)}}
            </td>
            <td><i class="icono pi pi-eye" (click)="mostrarProduccion(registro.numero)"></i></td>
        </tr>
    </ng-template>
</p-table>




<br><br>




<div class="grid">
    <div class="col">
        <div class="container m-0 row content-center">
            <ul class="list-group" style="width: 500px;">
                <li class="list-group-item">
                    <div style="text-align: center; font-style: italic;">Datos Generales:</div>
                </li>
                <li class="list-group-item">
                    <div class="grid">
                        <div class="col-8" style="text-align: right;">
                            TOTAL Registros:
                        </div>
                        <div class="col-4" style="text-align: right;">
                            <strong>{{dataTotalRegistros}}</strong>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="grid">
                        <div class="col-8" style="text-align: right;">
                            Registros que les falta destino:
                        </div>
                        <div class="col-4" style="text-align: right;">
                            <strong>{{dataRegistrosSinDestino}}</strong>
                        </div>
                    </div>
                </li>        
                <li class="list-group-item">
                    <div class="grid">
                        <div class="col-8" style="text-align: right;">
                            % FALTA DESTINO:
                        </div>
                        <div class="col-4" style="text-align: right;">
                            <strong>{{dataPorcentajeFaltaDestino}} %</strong>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="grid">
                        <div class="col-8" style="text-align: right;">
                            Kgs. ORIGEN:
                        </div>
                        <div class="col-4" style="text-align: right;">
                            <strong>{{dataKgOrigen}}</strong>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="grid">
                        <div class="col-8" style="text-align: right;">
                            Kgs. NETO ORIGEN:
                        </div>
                        <div class="col-4" style="text-align: right;">
                            <strong>{{dataKgNetoOrigen}}</strong>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="grid">
                        <div class="col-8" style="text-align: right;">
                            Kgs. DESTINO:
                        </div>
                        <div class="col-4" style="text-align: right;">
                            <strong>{{dataKgDestino}}</strong>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="grid">
                        <div class="col-8" style="text-align: right;">
                            Kgs. NETO DESTINO:
                        </div>
                        <div class="col-4" style="text-align: right;">
                            <strong>{{dataKgNetoDestino}}</strong>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <div class="col">
        <div class="container m-0 row content-center">
            <ul class="list-group" style="width: 500px;">
                <li class="list-group-item">
                    <div style="text-align: center; font-style: italic;">Datos de Registros que tienen "DESCARGA":</div>
                </li>
                <li class="list-group-item">
                    <div class="grid">
                        <div class="col-7" style="text-align: right;">
                            TOTAL Registros Con Descarga:
                        </div>
                        <div class="col-5" style="text-align: right;">
                            <strong>{{dataTotalRegistrosCONdesc}}</strong>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="grid">
                        <div class="col-7" style="text-align: right;">
                            Kgs. ORIGEN:
                        </div>
                        <div class="col-5" style="text-align: right;">
                            <strong>{{dataKgOrigenCONdesc}}</strong>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="grid">
                        <div class="col-7" style="text-align: right;">
                            Kgs. NETO ORIGEN:
                        </div>
                        <div class="col-5" style="text-align: right;">
                            <strong>{{dataKgNetoOrigenCONdesc}}</strong>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="grid">
                        <div class="col-7" style="text-align: right;">
                            Kgs. DESTINO:
                        </div>
                        <div class="col-5" style="text-align: right;">
                            <strong>{{dataKgDestinoCONdesc}}</strong>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="grid">
                        <div class="col-7" style="text-align: right;">
                            Kgs. NETO DESTINO:
                        </div>
                        <div class="col-5" style="text-align: right;">
                            <strong>{{dataKgNetoDestinoCONdesc}}</strong>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="grid">
                        <div class="col-7" style="text-align: right;">
                            Neto Origen - Destino:
                        </div>
                        <div class="col-5" style="text-align: right;">
                            <strong>{{dataDiferenciaNetoOrigen_Destino}} - ({{dataDiferenciaNetoOrigen_Destino_Porc}} %)</strong>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="grid">
                        <div class="col-7" style="text-align: right;">
                            Destino - Neto Destino:
                        </div>
                        <div class="col-5" style="text-align: right;">
                            <strong>{{dataDiferenciaDestino_NetoDestino}} - ({{dataDiferenciaDestino_NetoDestino_Porc}} %)</strong>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<br><br>

<div class="container m-0 row content-center">
    <div class="col-auto">
        <p-chart type="bar" [data]="kg_totalesData" [options]="kg_totalesOptions" [responsive]="false" width="600px" height="400px"></p-chart>
    </div>
</div>
<br><br><br>
<div class="container m-0 row content-center">
    <div class="col-auto">
        <p-chart type="bar" [data]="kg_sinDestinoData" [options]="kg_sinDestinoOptions" [responsive]="false" width="600px" height="400px"></p-chart>
    </div>
</div>

<div class="card">
    <p-chart type="bar" [data]="graficoProduccionData" [options]="graficoProduccionOptions" [height]="(20*dataTotalRegistros+100)+'px'" (onDataSelect)="graficoSeleccion($event)"></p-chart>
</div>

<div class="card">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <p-chart type="doughnut" [data]="graficoProporcionOrigenData" [options]="graficoProporcionOrigenOptions"  [style]="{'width': '20%'}"></p-chart>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <p-chart type="doughnut" [data]="graficoProporcionDestinoData" [options]="graficoProporcionDestinoOptions"  [style]="{'width': '20%'}"></p-chart>
        </div>
        <div class="col-4"></div>
    </div>
</div>












<!-- MODALES -->
<p-dialog header="Datos produccion N°: {{displayData.numero}}" [(visible)]="displayProduc" [modal]="true" [style]="{width: '90vw'}" [maximizable]="true"
    [draggable]="true" [resizable]="true">
            <br>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">Cult.  </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.AREA">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">Fecha </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.fecha">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">Rem./O.C.: </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.remito">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">C.P.: </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.nro_cp">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">C.T.G.: </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.nro_ctg">
                    </div>                
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">Transporte </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.transporte">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">Tipo orgien </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.tipo_origen">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">Origen </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.origen">
                    </div>                
                </div>
            </div>
            <br>
            <div class="formgrid grid">
                <h5>KG ORIGEN:</h5>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">Bruto: </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.kg_bruto_origen">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">Tara: </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.kg_tara_origen">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">Neto Origen: </span>
                        <input type="text" style="font-weight: bold" pInputText placeholder="" [(ngModel)]="displayData.kg_neto_orig">
                    </div>                
                </div>
            </div>
            <br>
            <div class="formgrid grid">
                <h5>DESTINO:</h5>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">Dest./Cliente </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.cod_dest">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">Descarga </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.cod_dest_descarga">
                    </div>                
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">Kg Destino: </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.kg_destino">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">Kg Neto Destino </span>
                        <input type="text" style="font-weight: bold" pInputText placeholder="" [(ngModel)]="displayData.kg_neto_dest">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">Diferencia </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.diferencia">
                    </div>                
                </div>
            </div>
            <br>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">Obs </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.observar">
                    </div>                
                </div>
            </div>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="displayProduc=false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
</p-dialog>