<div style="text-align: center;" *ngIf="spinnerProduccion || spinnerDestinos || spinnerLotes">
    <p-progressSpinner></p-progressSpinner>
</div>
<br>
<h2 style="text-align: center;">Produccion</h2>
<br>
<button pButton type="button" style="margin: 5px;" icon="pi pi-search" label="Traer datos" (click)="obtenerTodosProduccion()"></button>
<button pButton type="button" style="margin: 5px;" icon="pi pi-search" label="VER" (click)="ver()"></button>
<br><br>
<div class="card" style="padding: 20px;">
    
    <div class="formgrid grid">
        <div class="field col">
            <div class="field">
                <label for="range">Desde/Hasta</label>
                <p-calendar [(ngModel)]="dateRange" [showIcon]="true" selectionMode="range" [readonlyInput]="false" inputId="range"></p-calendar>
            </div>
            <div class="field">
                <p-chips [(ngModel)]="remitos" placeholder="Remitos"></p-chips>
            </div>
            <div class="field">
                <p-chips [(ngModel)]="nro_cp" placeholder="Cartas de Porte"></p-chips>
            </div>
            <div class="field">
                <p-chips [(ngModel)]="nro_ctg" placeholder="CTG"></p-chips>
            </div>
        </div>
        <div class="field col">
            <h5 (dblclick)="todosPeriodo()">CAMPAÑA</h5>
            <div class="field-checkbox">
                <p-checkbox name="periodo" value="2" [(ngModel)]="selectedPeriodo" inputId="camp2"></p-checkbox>
                <label for="camp2">19-20</label>
            </div>
            <div class="field-checkbox">
                <p-checkbox name="periodo" value="3" [(ngModel)]="selectedPeriodo" inputId="camp3"></p-checkbox>
                <label for="camp3">20-21</label>
            </div>
            <div class="field-checkbox">
                <p-checkbox name="periodo" value="4" [(ngModel)]="selectedPeriodo" inputId="camp4"></p-checkbox>
                <label for="camp4">21-22</label>
            </div>
            <div class="field-checkbox">
                <p-checkbox name="periodo" value="5" [(ngModel)]="selectedPeriodo" inputId="camp5"></p-checkbox>
                <label for="camp5">22-23</label>
            </div>
        </div>
        <div class="field col">
            <h5 (dblclick)="todosCultivo()">Cultivo</h5>
            <div class="field-checkbox">
                <p-checkbox name="AREA" value="1" [(ngModel)]="selectedAREA" inputId="cultS"></p-checkbox>
                <label for="cultS">SOJA</label>
            </div>
            <div class="field-checkbox">
                <p-checkbox name="AREA" value="2" [(ngModel)]="selectedAREA" inputId="cultM"></p-checkbox>
                <label for="cultM">MAIZ</label>
            </div>
            <div class="field-checkbox">
                <p-checkbox name="AREA" value="3" [(ngModel)]="selectedAREA" inputId="cultT"></p-checkbox>
                <label for="cultT">TRIGO</label>
            </div>
            <div class="field-checkbox">
                <p-checkbox name="AREA" value="4" [(ngModel)]="selectedAREA" inputId="cultG"></p-checkbox>
                <label for="cultG">GIRASOL</label>
            </div>
            <div class="field-checkbox">
                <p-checkbox name="AREA" value="10" [(ngModel)]="selectedAREA" inputId="cultA"></p-checkbox>
                <label for="cultA">ALGODON</label>
            </div>
        </div>
        <div class="field col">
            <h5 (dblclick)="todosOrigen()">Origen</h5>
            <div class="field-checkbox">
                <p-radioButton name="tipo_origen" value="L" [(ngModel)]="tipo_origen" inputId="origL"></p-radioButton>
                <label for="origL">Lote</label>
                &nbsp;&nbsp;&nbsp;
                <p-radioButton name="tipo_origen" value="S" [(ngModel)]="tipo_origen" inputId="origS"></p-radioButton>
                <label for="origS">Silo</label>
                <p-radioButton name="tipo_origen" value="M" [(ngModel)]="tipo_origen" inputId="origM"></p-radioButton>
                <label for="origM">Mult.</label>
            </div>
            <div *ngIf="tipo_origen">
                <p-autoComplete [(ngModel)]="origen" [showEmptyMessage]="true" [suggestions]="origenes" (completeMethod)="filterOrigen($event)" field="nombre" [minLength]="1"></p-autoComplete>
            </div>
        </div>
        <div class="field col">
            <h5 (dblclick)="todosDestino()">Destino</h5>
            <div class="field-checkbox">
                <p-radioButton name="tipo_destino" value="1" [(ngModel)]="tipo_destino" inputId="dest1"></p-radioButton>
                <label for="dest1">Cliente</label>
                &nbsp;&nbsp;&nbsp;
                <p-radioButton name="tipo_destino" value="2" [(ngModel)]="tipo_destino" inputId="dest2"></p-radioButton>
                <label for="dest2">Silo</label>
                &nbsp;&nbsp;&nbsp;
                <p-radioButton name="tipo_destino" value="3" [(ngModel)]="tipo_destino" inputId="dest3"></p-radioButton>
                <label for="dest3">Acopio</label>
            </div>
            <div *ngIf="tipo_destino">
                <p-autoComplete [(ngModel)]="destino" [showEmptyMessage]="true" [suggestions]="destinosSuggestions" (completeMethod)="filterDestino($event)" field="nombre" [minLength]="1"></p-autoComplete>
            </div>
            <br><br>
            <h5 (dblclick)="todosDescarga()">Descarga </h5>
            <div class="field-checkbox">
                <p-radioButton name="tipo_descarga" value="1" [(ngModel)]="tipo_descarga" inputId="desc1"></p-radioButton>
                <label for="desc1">Cliente</label>
                &nbsp;&nbsp;&nbsp;
                <p-radioButton name="tipo_descarga" value="2" [(ngModel)]="tipo_descarga" inputId="desc2"></p-radioButton>
                <label for="desc2">Silo</label>
                &nbsp;&nbsp;&nbsp;
                <p-radioButton name="tipo_descarga" value="3" [(ngModel)]="tipo_descarga" inputId="desc3"></p-radioButton>
                <label for="desc3">Acopio</label>
            </div>
            <div *ngIf="tipo_descarga">
                <p-autoComplete [(ngModel)]="descarga" [showEmptyMessage]="true" [suggestions]="descargasSuggestions" (completeMethod)="filterDescarga($event)" field="nombre" [minLength]="1"></p-autoComplete>
            </div>
        </div>
    </div>
</div>




<br>
<button pButton type="button" style="margin: 5px;" icon="pi pi-filter" label="Filtrar" (click)="filtrar()"></button>
<br><br>

<p-table [value]="produccion" selectionMode="single" [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [rowsPerPageOptions]="[10,25,50,100,1000,5000,10000]">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="numero">NUM <p-sortIcon field="numero"></p-sortIcon></th>
            <th pSortableColumn="fecha">FECHA <p-sortIcon field="fecha"></p-sortIcon></th>
            <th pSortableColumn="remito">O.C. <p-sortIcon field="remito"></p-sortIcon></th>
            <th pSortableColumn="nro_cp">C.P. <p-sortIcon field="nro_cp"></p-sortIcon></th>
            <th pSortableColumn="nro_ctg">C.T.G. <p-sortIcon field="nro_ctg"></p-sortIcon></th>
            <th pSortableColumn="kg_neto_orig">KG ORIGEN <p-sortIcon field="kg_neto_orig"></p-sortIcon></th>
            <th pSortableColumn="kg_neto_dest">KG DESTINO <p-sortIcon field="kg_neto_dest"></p-sortIcon></th>
            <th pSortableColumn="origen">Origen <p-sortIcon field="origen"></p-sortIcon></th>
            <th pSortableColumn="lote">Lote <p-sortIcon field="lote"></p-sortIcon></th>
            <th pSortableColumn="observar">OBS <p-sortIcon field="observar"></p-sortIcon></th>
            <th>Acc.</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-produccion>
        <tr>
            <td>{{produccion.numero}}</td>
            <td>{{produccion.fecha}}</td>
            <td>{{produccion.remito}}</td>
            <td>{{produccion.nro_cp}}</td>
            <td>{{produccion.nro_ctg}}</td>
            <td>{{produccion.kg_neto_orig}}</td>
            <td>{{produccion.kg_neto_dest}}</td>
            <td>{{produccion.origen}}</td>
            <td>{{produccion.lote}}</td>
            <td>{{produccion.observar}}</td>
            <td><i class="icono pi pi-eye" (click)="mostrarProduccion(produccion.numero)"></i></td>
        </tr>
    </ng-template>
</p-table>

<br><br>




<div class="grid">
    <div class="col">
        <div class="container m-0 row content-center">
            <ul class="list-group" style="width: 500px;">
                <li class="list-group-item">
                    <div style="text-align: center; font-style: italic;">Datos Generales:</div>
                </li>
                <li class="list-group-item">
                    <div class="grid">
                        <div class="col-8" style="text-align: right;">
                            TOTAL Registros:
                        </div>
                        <div class="col-4" style="text-align: right;">
                            <strong>{{dataTotalRegistros}}</strong>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="grid">
                        <div class="col-8" style="text-align: right;">
                            Registros que les falta destino:
                        </div>
                        <div class="col-4" style="text-align: right;">
                            <strong>{{dataRegistrosSinDestino}}</strong>
                        </div>
                    </div>
                </li>        
                <li class="list-group-item">
                    <div class="grid">
                        <div class="col-8" style="text-align: right;">
                            % FALTA DESTINO:
                        </div>
                        <div class="col-4" style="text-align: right;">
                            <strong>{{dataPorcentajeFaltaDestino}} %</strong>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="grid">
                        <div class="col-8" style="text-align: right;">
                            Kgs. ORIGEN:
                        </div>
                        <div class="col-4" style="text-align: right;">
                            <strong>{{dataKgOrigen}}</strong>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="grid">
                        <div class="col-8" style="text-align: right;">
                            Kgs. NETO ORIGEN:
                        </div>
                        <div class="col-4" style="text-align: right;">
                            <strong>{{dataKgNetoOrigen}}</strong>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="grid">
                        <div class="col-8" style="text-align: right;">
                            Kgs. DESTINO:
                        </div>
                        <div class="col-4" style="text-align: right;">
                            <strong>{{dataKgDestino}}</strong>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="grid">
                        <div class="col-8" style="text-align: right;">
                            Kgs. NETO DESTINO:
                        </div>
                        <div class="col-4" style="text-align: right;">
                            <strong>{{dataKgNetoDestino}}</strong>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <div class="col">
        <div class="container m-0 row content-center">
            <ul class="list-group" style="width: 500px;">
                <li class="list-group-item">
                    <div style="text-align: center; font-style: italic;">Datos de Registros que tienen "DESCARGA":</div>
                </li>
                <li class="list-group-item">
                    <div class="grid">
                        <div class="col-7" style="text-align: right;">
                            TOTAL Registros Con Descarga:
                        </div>
                        <div class="col-5" style="text-align: right;">
                            <strong>{{dataTotalRegistrosCONdesc}}</strong>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="grid">
                        <div class="col-7" style="text-align: right;">
                            Kgs. ORIGEN:
                        </div>
                        <div class="col-5" style="text-align: right;">
                            <strong>{{dataKgOrigenCONdesc}}</strong>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="grid">
                        <div class="col-7" style="text-align: right;">
                            Kgs. NETO ORIGEN:
                        </div>
                        <div class="col-5" style="text-align: right;">
                            <strong>{{dataKgNetoOrigenCONdesc}}</strong>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="grid">
                        <div class="col-7" style="text-align: right;">
                            Kgs. DESTINO:
                        </div>
                        <div class="col-5" style="text-align: right;">
                            <strong>{{dataKgDestinoCONdesc}}</strong>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="grid">
                        <div class="col-7" style="text-align: right;">
                            Kgs. NETO DESTINO:
                        </div>
                        <div class="col-5" style="text-align: right;">
                            <strong>{{dataKgNetoDestinoCONdesc}}</strong>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="grid">
                        <div class="col-7" style="text-align: right;">
                            Neto Origen - Destino:
                        </div>
                        <div class="col-5" style="text-align: right;">
                            <strong>{{dataDiferenciaNetoOrigen_Destino}} - ({{dataDiferenciaNetoOrigen_Destino_Porc}} %)</strong>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="grid">
                        <div class="col-7" style="text-align: right;">
                            Destino - Neto Destino:
                        </div>
                        <div class="col-5" style="text-align: right;">
                            <strong>{{dataDiferenciaDestino_NetoDestino}} - ({{dataDiferenciaDestino_NetoDestino_Porc}} %)</strong>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<br><br>

<div class="container m-0 row content-center">
    <div class="col-auto">
        <p-chart type="bar" [data]="kg_totalesData" [options]="kg_totalesOptions" [responsive]="false" width="600px" height="400px"></p-chart>
    </div>
</div>
<br><br><br>
<div class="container m-0 row content-center">
    <div class="col-auto">
        <p-chart type="bar" [data]="kg_sinDestinoData" [options]="kg_sinDestinoOptions" [responsive]="false" width="600px" height="400px"></p-chart>
    </div>
</div>











<!-- MODALES -->
<p-dialog header="Datos adicionales:" [(visible)]="displayProduc" [modal]="true" [style]="{width: '80vw'}" [maximizable]="true"
    [draggable]="true" [resizable]="true">
            <br>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">AREA </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.AREA">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">chamico </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.chamico">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">cod_asignador_cupo </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.cod_asignador_cupo">
                    </div>                
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">cod_chofer </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.cod_chofer">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">cod_corredor </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.cod_corredor">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">cod_cuentayorden1 </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.cod_cuentayorden1">
                    </div>                
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">cod_cuentayorden2 </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.cod_cuentayorden2">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">cod_dest </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.cod_dest">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">cod_dest_descarga </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.cod_dest_descarga">
                    </div>                
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">cod_lote_actividad </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.cod_lote_actividad">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">cod_periodo </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.cod_periodo">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">cod_representante </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.cod_representante">
                    </div>                
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">cuerp_ext </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.cuerp_ext">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">cuit_chofer </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.cuit_chofer">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">daniados </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.daniados">
                    </div>                
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">destino </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.destino">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">diferencia </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.diferencia">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">distancia </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.distancia">
                    </div>                
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">factor </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.factor">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">fecha </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.fecha">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">fecha_carga </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.fecha_carga">
                    </div>                
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">fecha_cupo </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.fecha_cupo">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">finca </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.finca">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">gasto_acondicionamiento </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.gasto_acondicionamiento">
                    </div>                
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">gasto_comercializacion </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.gasto_comercializacion">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">gasto_flete </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.gasto_flete">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">hora_carga </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.hora_carga">
                    </div>                
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">humedad1 </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.humedad1">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">humedad2 </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.humedad2">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">id </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.id">
                    </div>                
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">id_contratista </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.id_contratista">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">id_contrato </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.id_contrato">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">id_pc </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.id_pc">
                    </div>                
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">id_stock_campo </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.id_stock_campo">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">kg_bruto_origen </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.kg_bruto_origen">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">kg_destino </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.kg_destino">
                    </div>                
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">kg_neto_co </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.kg_neto_co">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">kg_neto_dest </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.kg_neto_dest">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">kg_neto_orig </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.kg_neto_orig">
                    </div>                
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">kg_origen </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.kg_origen">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">kg_tara_origen </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.kg_tara_origen">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">lote </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.lote">
                    </div>                
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">marca_importacion </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.marca_importacion">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">neto_afip </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.neto_afip">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">nombre_chofer </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.nombre_chofer">
                    </div>                
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">nro_cp </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.nro_cp">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">nro_ctg </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.nro_ctg">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">numero </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.numero">
                    </div>                
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">observar </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.observar">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">origen </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.origen">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">origen_importacion </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.origen_importacion">
                    </div>                
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">otros </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.otros">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">patente_acoplado </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.patente_acoplado">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">patente_camion </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.patente_camion">
                    </div>                
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">pcio_flete </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.pcio_flete">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">precio </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.precio">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">proc_calle </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.proc_calle">
                    </div>                
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">proc_codpostal </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.proc_codpostal">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">proc_depto </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.proc_depto">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">proc_localidad </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.proc_localidad">
                    </div>                
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">proc_nro </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.proc_nro">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">proc_provincia </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.proc_provincia">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">quebrados </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.quebrados">
                    </div>                
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">remito </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.remito">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">romaneo </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.romaneo">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">tierra </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.tierra">
                    </div>                
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">tipo </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.tipo">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">tipo_grano </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.tipo_grano">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">tipo_origen </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.tipo_origen">
                    </div>                
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">tipo_transporte </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.tipo_transporte">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">transporte </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.transporte">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">usuario </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.usuario">
                    </div>                
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">variedad </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.variedad">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">volatil </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.volatil">
                    </div>                
                </div>
                <div class="field col">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">zaranda </span>
                        <input type="text" pInputText placeholder="" [(ngModel)]="displayData.zaranda">
                    </div>                
                </div>
            </div>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="displayProduc=false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
</p-dialog>