<button style="margin: 5px;" pButton type="button" label="Traer Datos Excel" (click)="traerDatosExcel()"></button>
<button style="margin: 5px;" pButton type="button" label="Traer Datos Synagro" (click)="traerDatosSynagro()"></button>
<!--button style="margin: 5px;" pButton type="button" label="Prueba" (click)="pruebaEdicion()"></button-->

<br>
<br>

<h4>Datos Excel:</h4>
<p-table [value]="datosExcel" selectionMode="single" [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [rowsPerPageOptions]="[10,25,50,100,1000]">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="numero">Numero <p-sortIcon field="numero"></p-sortIcon></th>
            <th pSortableColumn="nro_cp">Nro. CP <p-sortIcon field="nro_cp"></p-sortIcon></th>
            <th pSortableColumn="nro_ctg">Nro Ctg <p-sortIcon field="nro_ctg"></p-sortIcon></th>
            <th pSortableColumn="finca">Finca Nº <p-sortIcon field="finca"></p-sortIcon></th>
            <th pSortableColumn="fecha">Fecha <p-sortIcon field="fecha"></p-sortIcon></th>
            <th pSortableColumn="AREA">Cultivo <p-sortIcon field="AREA"></p-sortIcon></th>
            <th pSortableColumn="lotesilo">Lote / Silo <p-sortIcon field="lotesilo"></p-sortIcon></th>
            <th pSortableColumn="transporte">Transporte <p-sortIcon field="transporte"></p-sortIcon></th>
            <th pSortableColumn="distancia">Distancia <p-sortIcon field="distancia"></p-sortIcon></th>
            <th pSortableColumn="pcio_flete">Imp. Transp. <p-sortIcon field="pcio_flete"></p-sortIcon></th>
            <th pSortableColumn="remito">Nº Remito <p-sortIcon field="remito"></p-sortIcon></th>
            <th pSortableColumn="kg_origen">Peso origen <p-sortIcon field="kg_origen"></p-sortIcon></th>
            <th pSortableColumn="humedad1">Hum. Origen <p-sortIcon field="humedad1"></p-sortIcon></th>
            <th pSortableColumn="kg_neto_orig">Peso neto orig. <p-sortIcon field="kg_neto_orig"></p-sortIcon></th>
            <th pSortableColumn="destino">Destino <p-sortIcon field="destino"></p-sortIcon></th>
            <th pSortableColumn="descarga"> Descarga <p-sortIcon field="descarga"></p-sortIcon></th>
            <th pSortableColumn="kg_destino">Peso destino <p-sortIcon field="kg_destino"></p-sortIcon></th>
            <th pSortableColumn="humedad2">Hum. Dest. <p-sortIcon field="humedad2"></p-sortIcon></th>
            <th pSortableColumn="kg_neto_dest">Peso neto dest. <p-sortIcon field="kg_neto_dest"></p-sortIcon></th>
            <th pSortableColumn="diferencia">Diferencia <p-sortIcon field="diferencia"></p-sortIcon></th>
            <th pSortableColumn="romaneo">Romaneo <p-sortIcon field="romaneo"></p-sortIcon></th>
            <th pSortableColumn="zaranda">Zaranda <p-sortIcon field="zaranda"></p-sortIcon></th>
            <th pSortableColumn="volatil">Volatil <p-sortIcon field="volatil"></p-sortIcon></th>
            <th pSortableColumn="cuerp_ext">C. Extraños <p-sortIcon field="cuerp_ext"></p-sortIcon></th>
            <th pSortableColumn="tierra">Tierra <p-sortIcon field="tierra"></p-sortIcon></th>
            <th pSortableColumn="quebrados">Quebrados <p-sortIcon field="quebrados"></p-sortIcon></th>
            <th pSortableColumn="daniados">Dañados <p-sortIcon field="daniados"></p-sortIcon></th>
            <th pSortableColumn="chamico">Chamico <p-sortIcon field="chamico"></p-sortIcon></th>
            <th pSortableColumn="otros">Otros <p-sortIcon field="otros"></p-sortIcon></th>
            <th pSortableColumn="factor">Factor <p-sortIcon field="factor"></p-sortIcon></th>
            <th pSortableColumn="kg_neto">Peso neto <p-sortIcon field="kg_neto"></p-sortIcon></th>
            <th pSortableColumn="usuario">Usuario <p-sortIcon field="usuario"></p-sortIcon></th>
            <th pSortableColumn="fecha_carga">Fecha <p-sortIcon field="fecha_carga"></p-sortIcon></th>
            <th pSortableColumn="hora_carga">Hora <p-sortIcon field="hora_carga"></p-sortIcon></th>
            <th pSortableColumn="variedad">Variedad <p-sortIcon field="variedad"></p-sortIcon></th>
            <th pSortableColumn="observar">Observaciones <p-sortIcon field="observar"></p-sortIcon></th>
            <th pSortableColumn="origen">Origen <p-sortIcon field="origen"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-datosExcel>
        <tr>
            <td>{{datosExcel.numero}}</td>
            <td>{{datosExcel.nro_cp}}</td>
            <td>{{datosExcel.nro_ctg}}</td>
            <td>{{datosExcel.finca}}</td>
            <td>{{datosExcel.fecha}}</td>
            <td>{{datosExcel.AREA}}</td>
            <td>{{datosExcel.lotesilo}}</td>
            <td>{{datosExcel.transporte}}</td>
            <td>{{datosExcel.distancia}}</td>
            <td>{{datosExcel.pcio_flete}}</td>
            <td>{{datosExcel.remito}}</td>
            <td>{{datosExcel.kg_origen}}</td>
            <td>{{datosExcel.humedad1}}</td>
            <td>{{datosExcel.kg_neto_orig}}</td>
            <td>{{datosExcel.destino}}</td>
            <td>{{datosExcel.descarga}}</td>
            <td>{{datosExcel.kg_destino}}</td>
            <td>{{datosExcel.humedad2}}</td>
            <td>{{datosExcel.kg_neto_dest}}</td>
            <td>{{datosExcel.diferencia}}</td>
            <td>{{datosExcel.romaneo}}</td>
            <td>{{datosExcel.zaranda}}</td>
            <td>{{datosExcel.volatil}}</td>
            <td>{{datosExcel.cuerp_ext}}</td>
            <td>{{datosExcel.tierra}}</td>
            <td>{{datosExcel.quebrados}}</td>
            <td>{{datosExcel.daniados}}</td>
            <td>{{datosExcel.chamico}}</td>
            <td>{{datosExcel.otros}}</td>
            <td>{{datosExcel.factor}}</td>
            <td>{{datosExcel.kg_neto}}</td>
            <td>{{datosExcel.usuario}}</td>
            <td>{{datosExcel.fecha_carga}}</td>
            <td>{{datosExcel.hora_carga}}</td>
            <td>{{datosExcel.variedad}}</td>
            <td>{{datosExcel.observar}}</td>
            <td>{{datosExcel.origen}}</td>
        </tr>
    </ng-template>
</p-table>


<br>
<br>
<br>
<h4>Datos Synagro:</h4>
<br>

<p-table [value]="produccion" selectionMode="single" [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [rowsPerPageOptions]="[10,25,50,100,1000]">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="numero">NUM <p-sortIcon field="numero"></p-sortIcon></th>
            <th pSortableColumn="fecha">FECHA <p-sortIcon field="fecha"></p-sortIcon></th>
            <th pSortableColumn="remito">O.C. <p-sortIcon field="remito"></p-sortIcon></th>
            <th pSortableColumn="nro_cp">C.P. <p-sortIcon field="nro_cp"></p-sortIcon></th>
            <th pSortableColumn="nro_ctg">C.T.G. <p-sortIcon field="nro_ctg"></p-sortIcon></th>
            <th pSortableColumn="kg_neto_orig">KG ORIGEN <p-sortIcon field="kg_neto_orig"></p-sortIcon></th>
            <th pSortableColumn="kg_neto_dest">KG DESTINO <p-sortIcon field="kg_neto_dest"></p-sortIcon></th>
            <th pSortableColumn="observar">OBS <p-sortIcon field="observar"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-produccion>
        <tr>
            <td>{{produccion.numero}}</td>
            <td>{{produccion.fecha}}</td>
            <td>{{produccion.remito}}</td>
            <td>{{produccion.nro_cp}}</td>
            <td>{{produccion.nro_ctg}}</td>
            <td>{{produccion.kg_neto_orig}}</td>
            <td>{{produccion.kg_neto_dest}}</td>
            <td>{{produccion.observar}}</td>
        </tr>
    </ng-template>
</p-table>

<br><br><br>

<button style="margin: 5px;" pButton type="button" label="Comparar Datos" (click)="compararDatos()" [disabled]="permitir_modificar"></button>
<br>
<h4>Datos A MOFIFICAR:</h4>
<br>

<p-table [value]="datosAModificar" selectionMode="single" [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [rowsPerPageOptions]="[10,25,50,100,1000]">
    <ng-template pTemplate="header">
        <tr>            
            <th pSortableColumn="numero">N° <p-sortIcon field="numero"></p-sortIcon></th>
            <th pSortableColumn="nro_cp">C.P. <p-sortIcon field="nro_cp"></p-sortIcon></th>
            <th pSortableColumn="nro_ctg">C.T.G. <p-sortIcon field="nro_ctg"></p-sortIcon></th>
            <th pSortableColumn="remito">O.C. <p-sortIcon field="remito"></p-sortIcon></th>
            <th pSortableColumn="AREA">AREA <p-sortIcon field="AREA"></p-sortIcon></th>
            <th pSortableColumn="kg_origen">KG ORIG <p-sortIcon field="kg_origen"></p-sortIcon></th>
            <th pSortableColumn="kg_neto_orig">KG NETO ORIG <p-sortIcon field="kg_neto_orig"></p-sortIcon></th>
            <th pSortableColumn="kg_destino">KG DEST <p-sortIcon field="kg_destino"></p-sortIcon></th>
            <th pSortableColumn="kg_neto_dest">KG NETO DEST <p-sortIcon field="kg_neto_dest"></p-sortIcon></th>
            <th pSortableColumn="diferencia">DIF. <p-sortIcon field="diferencia"></p-sortIcon></th>
            <th pSortableColumn="humedad1">Hum orig. <p-sortIcon field="humedad1"></p-sortIcon></th>
            <th pSortableColumn="humedad2">Hum dest. <p-sortIcon field="humedad2"></p-sortIcon></th>
            <th pSortableColumn="factor">Factor <p-sortIcon field="factor"></p-sortIcon></th>
            <th pSortableColumn="observar">Obs <p-sortIcon field="observar"></p-sortIcon></th>
            <th pSortableColumn="COIN_patente">Pat <p-sortIcon field="COIN_patente"></p-sortIcon></th>
            <th pSortableColumn="COIN_destino">Dest <p-sortIcon field="COIN_destino"></p-sortIcon></th>
            <th pSortableColumn="COIN_descarga">Desc <p-sortIcon field="COIN_descarga"></p-sortIcon></th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-datoAModificar>
        <tr>
            <td [ngStyle]="{'background-color': datoAModificar.fila_error ? 'rgb(161, 1, 1)' : (datoAModificar.fila_modificar ? '#73c7af' : '#ffffff')}"><strong>{{datoAModificar.fila_error ? "ERROR " + datoAModificar.numero : datoAModificar.numero}}</strong></td>
            <td [ngStyle]="{'background-color': datoAModificar.COIN_nro_cp ? '#ffffff' : '#73c7af'}">{{datoAModificar.nro_cp}}</td>
            <td [ngStyle]="{'background-color': datoAModificar.COIN_nro_ctg ? '#ffffff' : '#73c7af'}">{{datoAModificar.nro_ctg}}</td>
            <td [ngStyle]="{'background-color': datoAModificar.COIN_remito ? '#ffffff' : '#73c7af'}">{{datoAModificar.remito}}</td>
            <td [ngStyle]="{'background-color': datoAModificar.COIN_AREA ? '#ffffff' : '#73c7af'}">{{datoAModificar.AREA}}</td>
            <td [ngStyle]="{'background-color': datoAModificar.COIN_kg_origen ? '#ffffff' : '#73c7af'}">{{datoAModificar.kg_origen}}</td>
            <td [ngStyle]="{'background-color': datoAModificar.COIN_kg_neto_orig ? '#ffffff' : '#73c7af'}">{{datoAModificar.kg_neto_orig}}</td>
            <td [ngStyle]="{'background-color': datoAModificar.COIN_kg_destino ? '#ffffff' : '#73c7af'}">{{datoAModificar.kg_destino}}</td>
            <td [ngStyle]="{'background-color': datoAModificar.COIN_kg_neto_dest ? '#ffffff' : '#73c7af'}">{{datoAModificar.kg_neto_dest}}</td>
            <td [ngStyle]="{'background-color': datoAModificar.COIN_diferencia ? '#ffffff' : '#73c7af'}">{{datoAModificar.diferencia}}</td>
            <td [ngStyle]="{'background-color': datoAModificar.COIN_humedad1 ? '#ffffff' : '#73c7af'}">{{datoAModificar.humedad1}}</td>
            <td [ngStyle]="{'background-color': datoAModificar.COIN_humedad2 ? '#ffffff' : '#73c7af'}">{{datoAModificar.humedad2}}</td>
            <td [ngStyle]="{'background-color': datoAModificar.COIN_factor ? '#ffffff' : '#73c7af'}">{{datoAModificar.factor}}</td>
            <td [ngStyle]="{'background-color': datoAModificar.COIN_observar ? '#ffffff' : '#73c7af'}">{{datoAModificar.observar}}</td>
            <td [ngStyle]="{'background-color': datoAModificar.COIN_patente ? '#ffffff' : 'rgb(161, 1, 1)'}">{{datoAModificar.COIN_patente ? "ok" : "Error. "+datoAModificar.patente}}</td>
            <td [ngStyle]="{'background-color': datoAModificar.COIN_destino ? '#ffffff' : 'rgb(161, 1, 1)'}">{{datoAModificar.COIN_destino ? "ok" : "Error"}}</td>
            <td [ngStyle]="{'background-color': datoAModificar.COIN_descarga ? '#ffffff' : 'rgb(161, 1, 1)'}">{{datoAModificar.COIN_descarga ? "ok" : "Error"}}</td>
        </tr>
    </ng-template>
</p-table>

<br>
<br>
<br>

<p-tag styleClass="mr-2" value="Filas"></p-tag><p-badge style="margin: 0px 0px 0px 5px" value="{{contadorFilas}}"></p-badge><br><br>
<p-tag styleClass="mr-2" severity="success" value="A Modificar"></p-tag><p-badge style="margin: 0px 0px 0px 5px" severity="success" value="{{contadorModificaciones}}"></p-badge><br><br>
<p-tag severity="danger" value="Errores de coincidencia"></p-tag><p-badge style="margin: 0px 0px 0px 5px" severity="danger" value="{{contadorErrores}}"></p-badge>

<br><br><br><br>
<button pButton type="button" label="COMENZAR MODIFICACION" (click)="comenzarModificacion()" [disabled]="permitir_edicion"></button>
<br><br>

<div style="text-align: center;" *ngIf="spinner">
    <p-progressSpinner></p-progressSpinner>
</div>

<h4>Logs:</h4>
<br><br>
<p-table [value]="logRegistros" selectionMode="single" [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="registro">NUM <p-sortIcon field="registro"></p-sortIcon></th>
            <th pSortableColumn="numero">ESTADO <p-sortIcon field="numero"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-registro>
        <tr>
            <td>{{registro.registro}}</td>
            <td>{{registro.mensaje}}</td>
        </tr>
    </ng-template>
</p-table>

<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>