<br><br>
<textarea [(ngModel)]="dataCruda" [rows]="15" [cols]="200" pInputTextarea [autoResize]="true" placeholder="texto JSON: diferencia kg_neto_dest kg_neto_orig numero observar"></textarea>

<br><br>

<button style="margin: 5px;" pButton type="button" label="OBTENER LOS DATOS" (click)="transformarDatos()"></button>
<button style="margin: 5px;" pButton type="button" label="CARGAR" (click)="enviarRegistro()" [disabled]="!permiteModificar"></button>
<!--button style="margin: 5px;" pButton type="button" label="Prueba" (click)="pruebaEdicion()"></button-->
<br><br>


<h4>Logs:</h4>
<br><br>
<p-table [value]="logRegistros" selectionMode="single" [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="registro">NUM <p-sortIcon field="registro"></p-sortIcon></th>
            <th pSortableColumn="numero">ESTADO <p-sortIcon field="numero"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-registro>
        <tr>
            <td>{{registro.registro}}</td>
            <td>{{registro.mensaje}}</td>
        </tr>
    </ng-template>
</p-table>

<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>